body {
    padding-top: 40px;
}

@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}